<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>HXLator</title>
  <style type="text/css">
    td {
    border: 1px solid black;
    font-size:12px;    
    font-family: Arial;
    }
    select { 
    width: 100%;
    }
    table {
    border-collapse:collapse;
    }  
    .selected-cells{
      background-color: grey;
    }
    .line-nb{
      text-align: center;
      background-color: #BFBFBF;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="javascript/hxlator.js" type="text/javascript"></script>

</head>
<body>
  <table>
    <select id="rdf-type">
    </select>
    <tr><th></th>
    {% for i in range(rows[0]|count) %}
    <th>
      <select id="h-{{i}}" data-col="{{i}}">
	<option value="ignore">-</option>
      </select>
    </th>
    {% endfor %}
    </tr>
    {% for i in range(rows|count) %}
    <tr>
      <td class="line-nb" >{{i+1}}</td>
      {% for j in range(rows[i]|count) %}
      <td class="cell" id="{{i}}-{{j}}" data-row="{{i}}" data-col="{{j}}" data-value="{{ rows[i][j] }}">{{ rows[i][j] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

</body>
</html>
